


body{
background-image: url('Blue.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: red;


}
.heading{
    background: url('OrigamiImages/images/cicada.png');
    margin: 250px;
    font-size: larger;
    padding: 250px;
    
    }
.grid{

display: flex;
flex-wrap: wrap;


}
.grid img {
    border-radius: 50%;
    border: 2px solid black;
}
.item{

background-color: saddlebrown;
border-radius: 10%;
border: 2px solid red;

}
.grid
img:hover { -webkit-transform: scaleX(-1); transform: scaleX(-1); }


